<!Doctype HTML>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Ajoutez la référence à Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

</head>


<body>

<div id="mySidenav" class="sidenav">
  <div class="sidenav-header">
    <img src="assets/gymproj.png"  />
    <h4> GLSII-A</h4>
  </div>
  <p class="logo"><span>
    </span></p>
    <br>
    <a  class="icon-a"><i class="fa fa-dashboard icons"></i> Dashboard</a>
    <a  class="icon-a"><i class="fa fa-home icons"></i> Home</a>
    <a  class="icon-a"><i class="fas fa-tools"></i> Setting</a>
    <a  class="icon-a" (click)="logout()"> <i class="fa fa-sign-out icons"></i> Logout</a>
  </div>
  <hr class="vertical-line">

  <div id="main">

  <div class="head">
    <div class="col-div-6">
      <span style="font-size:30px;cursor:pointer; color: #0c0c0c;" class="nav"  >  Welcome</span>
      <span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >☰ Dashboard</span>
    </div>

    <div class="col-div-6">


      <div class="profile">
        <img [src]="imgSrc" class="pro-img" alt="Profile Image" />
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="updateUser()"><i class="fas fa-edit"></i> Edit</a>
          <a class="dropdown-item" (click)="updateUserImage()"><i class="fas fa-image"></i> Image</a>
          <a class="dropdown-item" href="#"><i class="fas fa-circle-notch fa-spin"></i> Loading</a>
        </div>
        <p>{{ name ? name : user.name }} <span>{{ email ? email : user.email }}</span></p>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Edit your Profile
        </a>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>
  <br/>
<hr>
  <div class="row">
    <div class="col-sm-6" *ngFor="let prod of product">

      <div class="card">
        <img src="assets/price-1.png" class="pro-img" alt="price" />

        <div class="card-body">

          <h5 class="card-title">{{ prod.title }}</h5>
          <p class="card-text">{{ prod.description }}</p>
          <p class="card-text">{{ prod.key_feature }} {{ prod.prix }} $</p>


          <button (click)="addToPanel(_id, prod._id)" class="btn btn-primary">Add to Panel</button>

        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <br/><br/>
  <div class="col-div-10">
    <div class="box-10">
      <div class="content-box">
        <br />
        <table class="table table-transparent table-striped" *ngIf="filteredPanier && filteredPanier.length > 0">
          <tr>
            <th>Subscription (in days)</th>
            <th>Card Number</th>
            <th>Price </th>
            <th>Products Price</th>
            <th>Total</th>
          </tr>
          <tr *ngFor="let item of filteredPanier">
            <td>{{ item.number_months * 30}} days</td>
            <td>{{ item.cardNumber }}</td>
            <td *ngIf="item.productPrice">{{ item.productPrice }} $</td>
            <td *ngIf="item.productPrice">{{ item.productPrice * (item.number_months ) }} $</td>
            <!-- Modifier la ligne du bouton "bank" -->
            <td>
              <button (click)="payedBank(item.cardNumber)" class="btn btn-primary">payed</button>
              <ng-container *ngIf="item.paymentSuccess">
                <button (click)="printSelectedSubscription(item)" class="btn btn-danger">Print</button>
              </ng-container>
            </td>

          </tr>
        </table>
        <div *ngIf="!(panier && panier.length > 0)">No items in the cart</div>
      </div>
    </div></div>


</div>
<!--
<div class="footer__bar">
  Copyright © 2023 GLSII-A-Rmili-Lahbib-Dhiflaoui.
</div> -!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>


</html>
